<!DOCTYPE html>
<html>
<head>
    <title>Liste des Commits</title>
</head>
<body>
    <h1>Liste des Commits</h1>
    <p><strong>Nombre total de commits :</strong> {{ count }}</p>
    <ul>
        {% for commit in commits %}
            <li>
                <strong>Message:</strong> {{ commit.commit.message }}<br>
                <strong>Auteur:</strong> {{ commit.commit.author.name }}<br>
                <strong>Date:</strong> {{ commit.commit.author.date }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
